/* === Global === */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  /*border: 1px solid green;*/
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
  background-color: black;
}

body {
  font-size: 1.6rem;
  margin: 0;
}


#main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.main-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#main-bg-cover {
  display: none;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#main-bg-img {
  position: fixed;
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

#switch {
  position: absolute;
  top: 80%;
  left: 50%;
  cursor: pointer;
}
.front-btn {
  fill: #ff8800;
}
#back-btn {
  fill: transparent;
  stroke: #ff8800;
}



/* === Header === */

#header-container {
  text-align: right;
  left: 0;
  width: 40%;
  position: fixed;
  top: 4.5%;
}

#header-name {
  font-size: 10rem;
  letter-spacing: 0.5rem;
  color: #3A4957;
  margin-bottom: 0;
  margin-top: 1%;
  padding-left: 2%;
}

#header-name span {
  letter-spacing: 0.5rem;
  font-weight: 400;
  margin-left: 3.5%;
}

#header-job-title {
  text-transform: uppercase;
  margin-right: 7.8%;
  letter-spacing: 0.6rem;
  font-size: 3.5rem;
  color: #4597D5;
}


/* === Projects === */

#header-projects-container {
  width: 90%;
  position: relative;
}

#header-projects {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.6rem;
  font-size: 2rem;
  color: #4597D5;
}

#projects {
  width: 60%;
  position: relative;
  top: 70%;
  left: 40%;
  display: block;
  opacity: 1;
  overflow: scroll;
  cursor: pointer;
}

#projects a {
  color: black;
}

.projects-container {
  /*margin: 0 auto;*/
  overflow: hidden;
  margin-top: 5%;
  display: inline-block;
  width: 90%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
}

.header-nav {
  position: fixed;
  top: 20%;
  opacity: 0;
  display: block;
  width: 23.7%;
}

.header-nav ul {
  list-style: none;
  padding-right: 1.3%;
  margin-top: 0;

}

.header-nav li {
  font-size: 2.5rem;
  text-align: right;
  margin-top: 2%;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.header-nav a {
  color: #3A4957;
  padding: 1%;
  text-decoration: none;
}

/* === Contact === */

#contact {
  width: 50%;
  position: fixed;
  bottom: 10%;
  left: 25%;
  display: block;
  padding: 2%;
  background: rgba(255,255,255,0.3);
  opacity: 0;
  overflow: scroll;
}

#contact-close {
  right: 1%;
  top: -3%;
  position: absolute;
  color: white;
  font-size: 4rem;
  font-weight: 100;
  cursor: pointer;
}

#breezeplease {
  background-image: url('../img/breezeplease.png');
}

#chaustracks {
  background-image: url('../img/chaustracks.png');
}

#etch-a-sketch {
  background-image: url('../img/etch-a-sketch.png');
}

#business-responsive {
  background-image: url('../img/business-responsive.png');
}

.project {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 95%;
  padding-bottom: 52%;
  margin: 0 auto;
}

.project-text {
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  padding: 1%;
  font-size: 2.5rem;
  position: absolute;
  opacity: 0;
  color: #333;
}

.content-container {
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
  background: rgba(255, 255, 255, 0.2);
}

#contact-form {
  /*background: rgba(255, 255, 255, 0.2);*/
  /*padding: 10px;*/
  /*border-radius: 5px;*/
  /*margin: 0 auto;*/
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-textarea,
.form-email {
  width: 100%;
  padding: 5px;
  margin: 0 auto 10px;
  display: block;
  border: none;
  background: rgba(198, 207, 209, 0.6);
  font-weight: 300;
  font-size: 2.5rem;
}

::-webkit-input-placeholder { color: #FFF; }
:-moz-placeholder { color: #FFF; }
::-moz-placeholder { color: #FFF; }
:-ms-input-placeholder { color: #FFF; }

.form-textarea:focus,
.form-email:focus {
  background: rgba(255, 255, 255, 0.6);
  outline: none;
}

.form-submit {
  padding: 5px 40px;
  border: 3px solid rgba(198, 207, 209, 0.6);
  background: rgba(198, 207, 209, 0.6);
  font-size: 2.5rem;
  float: right;
  outline: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #4597D5;
  color: white;
  /*border: 3px solid white;*/
}

#contact-form label.error {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: -4px;
  margin-bottom: 10px;
}

#contact-form input.error,
#contact-form textarea.error {
  border-color: red;
  box-shadow: 0 0 20px red;
}
/*
a {
  color: #B0BCC0;
  text-decoration: none;
}*/

a:hover {
  background-color: #4597D5;
  color: white;
}


.dark {
  display: block;
  background: #B0BCC0;
  width: 100%;
  transition: all 0.3s linear;
  opacity: 0;
  cursor: pointer;
}


.dark:hover {
  opacity: 0.9;
}

