/**
 *  Global
 */


/* apply natural box layout model */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}




/* global fonts */

html {
   font-family: 'Roboto', sans-serif;
   font-size: 62.5%;
   color: #333;
}

body {
    margin: 0 auto;
    font-size: 1.6rem;
    max-width: 1400px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.8rem;
}



/* links */

a:link {
    color: #444;
    text-decoration: none;
}

a:visited {
    color: #444;
}

a:hover {
    color: #14c8ff;
}

a:active {
    position: relative;
    top: 5px;
    left: 5px;
}




/**
 *  HEADING
 */

.heading-wrap {
    background: #9eaeb3;
    background: url('../img/bg.jpg') no-repeat scroll;
    background-size: cover;
    background-position: 30% 0%;

    padding: 5px 20px 30px;
    width: 100%;
}


.heading-name {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.3rem;
}


.heading-name span {
    font-weight: 300;
}


.heading-title {
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: 7px;
    letter-spacing: 0.13rem; 
}


.heading-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.heading-nav li {
    display: inline-block;
}




/**
 *  BIO
 */

.bio-wrap {
    background: #c3d2da;
    padding: 20px;
}

.bio {
    width: 90%;
    margin: 0 auto;
    line-height: 3rem;
}
.bio span {
    display: block;
    margin-top: 20px;
}
.bio span a {
    text-decoration: underline;
}




/**
 *  Projects
 */

.projects {
    padding: 20px;
    background: #83a5b5;
}


.projects-wrap {
    width: 90%;
    margin: 0 auto;
}


.projects h3 {
    text-transform: uppercase;
}

.projects ul,
.projects li {
    margin-top: 10px;
    padding-right: 20px;
}

.projects p {
    margin-bottom: 0;
    padding-right: 20px;
    font-weight: 700;
}


.projects-businesstheme-wrap {
    margin-top: 30px;
}

.projects-businesstheme:before {
    content: "";
    display: block;
    padding-bottom: 50%;
} 

.projects-businesstheme {
    background: url('../img/business-theme.png') no-repeat;
    background-size: contain; 
    width: 100%;
    transition: background 0.5s;
    cursor: pointer;
}


.projects-googlepage-wrap {
    margin-top: 50px;
    margin-bottom: 30px;
}

.projects-googlepage:before {
    content: "";
    display: block;
    padding-bottom: 50%;
} 

.projects-googlepage {
    background: url('../img/googlepage.png') no-repeat;
    background-size: contain; 
    width: 100%;
    transition: background 0.5s;
    cursor: pointer;
}

.projects-googlepage-desc a {
    text-decoration: underline;
    cursor: pointer;
}




/**
 *  Form
 */

.contact {
    background: url('../img/map2.png') no-repeat;
    background-size: cover;
    padding: 20px 20px 60px;
}

.contact h3 {
    text-transform: uppercase;
    margin: 0 auto 10px;
    color: #ddd;
    font-weight: 500;
}


.contact-form-wrap {
    background: rgba(79, 100, 110, 0.9);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 90%;
}


.form-textarea,
.form-email {
    width: 100%;
    padding: 5px;
    margin: 0 auto 10px;
    display: block;
    border: none;
    background: #eee;
}

.form-textarea:focus,
.form-email:focus {
    background: #ccc;
    outline: none;
}

.form-submit {
    padding: 7px 10px;
    border: 3px solid #333;
    background: #f68a1f; 
    float: right;
}

.form-submit:hover {
    background: #67c26b;
}




/**
 *  Media Queries
 */

@media only screen and (min-width: 500px) {


    /*GLOBAL*/

    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 5.6rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 2rem;
    }


    /*BIO*/

    .bio {
        font-size: 2rem;
    }


    /*PROJECTS*/

    .projects-businesstheme-wrap {
        margin-top: 50px;
    }

    .projects-googlepage-wrap {
        margin-top: 60px;
        margin-bottom: 80px;
    }


}




@media only screen and (min-width: 800px) {

    /*GLOBAL*/

    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 6.7rem;
    }
    h2 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 2.2rem;
    }



    /*BIO*/

    .bio {
        font-size: 2.2rem;
        max-width: 60%;
    }


    /*HEADING*/

    .heading-wrap {
        padding: 5px 40px 160px;
        background-position: 10% 50%;
        background-attachment: fixed;
    }


    /*PROJECTS*/

    .projects {
        padding: 40px;
    }


    .projects-businesstheme-desc {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }

    .projects-businesstheme-desc p {
        margin-top: 0;
    }

    .projects-businesstheme {
        background: url('../img/business-theme2.png') no-repeat;
        background-size: contain;
        transition: background 0.5s;
        cursor: pointer;
        display: inline-block;
        max-width: 50%;
    }

    .projects-businesstheme:hover {
        background: url('../img/business-theme.png') no-repeat;
        background-size: contain;
        background-size: 100%;
    }

    .projects-googlepage-desc {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }

    .projects-googlepage-desc p {
        margin-top: 0;
    }

    .projects-googlepage {
        background: url('../img/googlepage2.png') no-repeat;
        background-size: contain;
        transition: background 0.5s;
        cursor: pointer;
        display: inline-block;
        max-width: 50%;
    }

    .projects-googlepage:hover {
        background: url('../img/googlepage.png') no-repeat;
        background-size: contain;
        background-size: 100%;
    }




    /*CONTACT*/
    .contact-form-wrap {
        max-width: 47%;
        margin-left: 20px;
    }


