* {
  /*border: 1px solid red;*/
}

a {
  text-decoration: underline;
  color: white;
}

.project-title-link {
  text-decoration: none;
}

.read-more-btn {
  text-decoration: none;
}

.mdl-menu__container a {
  color: #3A4957;
  text-decoration: none;
}

#main-container {
  color: #3A4957;
  font-family: "Roboto","Helvetica","Arial",sans-serif;  
}

.heading-name {
  font-weight: 200;
  text-align: center;
  margin: 0;
}

.heading-job {
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.story {
  width: 100%;
  /*background-image: url('../img/bg2.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1184B1;
  color: white;
  padding: 5% 0;
}


.story-copy {
  /*border: 1px solid red;*/
  width: 90%;
  position: relative;
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;
}





.project {
  width: 90%;
}

.project-breezeplease {
  background-color: #0064A4;
}

.project-chaustracks {
  background-color: #1F1F20;
}

.project-sketch {
  background-color: #622364;
}

.project-business {
  background-color: #569EB5;
}

.project-title {
  font-weight: 200;
  text-align: center;
}

.project-text {
  padding: 5%;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.project-text-body {
  font-size: 0.7em;
  padding-right: 6%;
}
.project-text-body li {
  display: none;
  color: white;
}
  

.project-link-icon {
  display: block;
  margin: 0 auto;
}

.business {
  font-size: 30px;
}

.read-more-wrap {
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    /*padding: 12px;  */
    padding: 12px 0;
    text-align: center;  
}

.read-more-btn {
  /*border: 1px solid white;*/
  width: 50px;
  height: 35px;
  padding: 7px;
  border-radius: 2px;
}


.noscroll {
  position: fixed;
}



.section--center {
  max-width: 1024px;
}





.project li {
  margin: 0 auto;
}

.main-logo-mobile {
  display: block;
  padding-top: 2rem;
}

.main-logo-mobile-name {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

/*
.mdl-layout__header {
  background-color: transparent;
  color: #3A4957;
}*/



#main-nav a {
  color: #3A4957;
  cursor: pointer;
}


.mdl-card__title {
  color: #fff;
  width: 100%;
  /*height: 200px;*/
  background-size: 100%;
  background-repeat: no-repeat;
}

.mdl-card__project-copy li {
  display: none;
}

.mdl-card img {
  width: 100%;
}

#footer-nav {
  background-color: transparent;
  position: fixed;
  bottom: 5%;
  right: 7%;
  z-index: 10;
  color: #FAEBD7;
}

.footer-nav--btn {
  min-width: 42px;
  min-height: 42px;
}

#mdl-menu-top-right {
  background-color: rgba(0, 0, 0, 0.4);
}

.mdl-mini-footer__right-section button {
  background-color: transparent;
}

#contact-bg-cover {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 10000;
}

#contact {
  max-width: 60%;
  position: fixed;
  bottom: 10%;
  left: 20%;
  right: 20%;
  display: none;
  padding: 2%;
  background: white;
  opacity: 0;
  overflow: hidden;
  z-index: 11000;
}

#contact-close {
  top: 10px;
  right: 10px;
  position: absolute;
  color: #3A4957;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
}

.contact-textfield {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.form-submit {
  padding: 5px 40px;
  margin-left: 2.5%;
  display: block;
  border: 1px solid rgb(58, 73, 87);
  background: rgba(198, 207, 209, 0.6);
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  color: #3A4957;
}

.form-submit:hover {
  background-color: rgb(58, 73, 87);
  border: 1px solid #FAEBD7;
  color: #FAEBD7;
}

.main-logo {
  width: 80%;
}

.main-logo span {
  font-weight: 300;
}

.main-logo-heading-name {
  /*  margin: 0 auto;*/
  font-size: 4rem;
  font-weight: 700;
}

.main-logo-h2-cursor {
  /*animation: blink-caret 1s step-end infinite;  */
  /*font-size: 0.4rem;*/
  vertical-align: middle;
}


.typed-cursor{
    font-size: 1.4rem;
    /*padding-top: 0.4rem;*/
    opacity: 0;
    -webkit-animation: blink 0.7s 8;
    -moz-animation: blink 0.7s 8;
    animation: blink 0.7s 8;
    animation-fill-mode: forwards;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}


@media only screen and (min-width: 500px) {
  .work-heading {
    padding-left: 7%;
  }
}


/*Large Screen*/

@media only screen and (min-width: 1024px) {
  #main-nav a {
    font-size: 1.25rem;
    padding-top: 0.25rem;
  }
  .links a:hover,
  #main-nav a:hover {
    color: black;
    font-weight: 700;
  }

  
  .main-logo-mobile {
    display: none;
  }

.story-copy p {
  width: 75%;
  margin: 0 auto;
  font-size: 1.75em;
  line-height: 1.5em;
}
.section-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  .project {
    width: 317px;
    min-height: 289px;
    margin: 2% 1%;
    display: inline-block;
  }


  .project p,
  .project li {
    width: 80%;
    font-size: 1rem;
  }

}
